[submodule "XSLibrary"]
	path = XSLibrary
	url = https://github.com/CaptainOachkatzl/XSLibrary
[submodule "XNASupport"]
	path = XNASupport
	url = https://github.com/CaptainOachkatzl/XNASupport
[submodule "XSGravitonCL"]
	path = XSGravitonCL
	url = https://github.com/CaptainOachkatzl/XSGravitonCL
